@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background: #23252c;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  background-color: #1a1b21;
  transform: scale(0.9);
}

.name {
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
}

.heading {
  text-align: center;
}

.frontend_developer {
  color: #f3bf99;
  font-size: 10px;
  font-weight: 400;
  margin: 2px 2px;
}

.website {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 8px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px;
}

.body_text {
  font-size: 15px;
  margin: 10%;
  margin-top: 3%;
  color: #f5f5f5;
}

.email_button {
  height: 34px;
  width: 90px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  margin-right: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.linkedin_button {
  height: 34px;
  width: 90px;
  left: 283px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  background: #5093e2;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

p {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.profile_image {
  width: 250px;
}

.socials {
  display: flex;
  background-color: #161619;
  width: 250px;
  height: 50px;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.both_buttons {
  margin-bottom: 0%;
  display: flex;
}
